<!-- Filtros -->
<form #frm="ngForm">
    <div class="p-4 bg-white shadow">
        <div class="flex flex-col md:flex-row items-center justify-center gap-4">

            <input type="text" name="nomeFiltro" [(ngModel)]="nomeFiltro" placeholder="Pesquisar pelo nome do local"
                class="w-full p-2 border border-amber-300 rounded shadow-sm focus:outline-none focus:ring-0 focus:border-amber-600">

            <select name="categoriaFiltro" [(ngModel)]="categoriaFiltro" class="w-full p-2 border border-amber-300 rounded shadow-sm focus:outline-none focus:ring-0 focus:border-amber-600">
                <option [value]="-1">Todas as categorias</option>
                <option *ngFor="let cat of categoriasFiltro" [value]="cat.nome">{{ cat.nome }}</option>
            </select>
            <button (click)="filtrar()" class="bg-amber-700 text-white px-4 py-2 rounded hover:bg-red-800">
                Pesquisar
            </button>
        </div>
    </div>
</form>

<!-- Listagem Lugares-->

<div id="lugaresList" class="p-4 grid grid-col-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div class="bg-white shadow rounded overflow-hidden" *ngFor="let lugar of lugares">
        <img [src]="lugar.urlFoto" [alt]="lugar.nome" class="w-full h-40 object-cover">
        <div class="p-4">
            <h2 class="text-lg font-semibold text-amber-700">{{ lugar.nome }}</h2>
            <p class="text-amber-700 text-sm">Categoria: <span class="text-amber-500">{{ lugar.categoria }}</span></p>
            <p class="text-amber-700 text-sm">Localização: <span class="text-amber-500">{{ lugar.localizacao }}</span></p>
            <div class="mt-2 flex items-center">
                <span class="text-yellow-500" [innerHTML]="getTotalEstrelas(lugar)"></span>
            </div>
        </div>
    </div>
</div>

